/* Link Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', serif;
    scroll-behavior: smooth;
}

:root {
    --bs-primary-black: #000000;
    --bs-primary-white: #ffffff;
    --bs-primary-grey: #aaaaaa;
    --bs-primary-orange: #f77f00;

    --bs-text-black: #000000;
    --bs-text-white: #ffffff;
    --bs-text-grey: #aaaaaa;
    --bs-text-orange: #f77f00;
    --bs-text-yellow: #ffc107;
}

body{
    background: var(--bs-primary-white);
}

/* NAVBAR */
#open-btn{
    color: var(--bs-text-white);
    font-size: 2rem;
    display: none;
}

.menu-hamburger{
    position: absolute;
    top: 0;
    right: -500px;
    transition: all 0.4s ease-in-out;
    display: none;
}

.nav-bar{
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    padding: 20px 0;
    z-index: 999;
    transition: all 0.3s ease-in;
}

.logo {
    width: 200px;
}

.menu-nav a{
    color: var(--bs-text-white);
}

.menu-nav a:hover{
    color: var(--bs-text-grey);
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-menu .dropdown-item {
    color: var(--bs-text-white); 
    background-color: var(--bs-primary-black);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    color: var(--bs-text-black); 
    background-color: var(--bs-primary-white); 
}

.media-nav > a{
    color: var(--bs-text-white);
    margin: 0px 12px;
}

.media-nav > a > i{
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.media-nav a:hover i{
    background: var(--bs-primary-white);
    color: var(--bs-text-black);
    padding: 5px;
    transition: all 0.4s ease-in-out;
}
/* END NAVBAR */

/* HERO SECTION */
.hero-section{
    width: 100%;
    background-image: url(../img/hero3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.second-bg{
    width: 100%;
    height: 40vh;
    background: rgba(0, 0, 0, 0.747);
    position: relative;
}

/* .wave{
    width: 100%;
    height: 60vh;
    background-image: url(../img/gelombang.svg);
    background-size: 110%;
    background-position: center;    
    background-repeat: no-repeat;
    background-position-y: -400px;
    position: relative;
} */

.hero-text{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text > h2{
    width: 40%;
}
/* END HERO SECTION */

/* About Us */
.about-us{
    height: auto;
}

.image-about img{
    box-shadow: -20px 16px 0px var(--bs-primary-black);
}

.about-text > p{
    text-indent: 15px;
    text-align: justify;
}

/* END About Us */

/* Why Choose Us */
.container > span{
    font-family: 'Dancing Script',serif;
}

.ctn-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px; 
    height: 100%;
}
/* END Why Choose Us */

/* Our Team */
.header-team > span{
    font-family: 'Dancing Script',serif;
}
/* END Our Team */

/* Testimonials */
.testimonials{
    height: 100vh;
    background-image: url(../img/backgroundgunung.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container-testimonials{
    width: 60%;
}

.header-testimonials > span{
    font-family: 'Dancing Script',serif;
    color: var(--bs-text-orange);
}

.testimonials-item img{
    max-width: 80px;
}

#swiper-slides{
    padding: 40px;
}
/* END Testimonials */

/* Media Partner */
.logo-partners img{
    filter: grayscale(100%);
    transition: grayscale 0.3s ease-in-out;
}

.logo-partners:hover img{
    filter: grayscale(0%);
    transition: grayscale 0.3s ease-in-out;
    cursor: pointer;
}
/* END Media Partner */

/* Footer */
.list-unstyled li a{
    color: var(--bs-text-white);
}

.list-unstyled li a:hover{
    color: var(--bs-text-grey);
}
/* END Footer */


/* RESPONSIVE TABLET */
@media (max-width: 991px) and (min-width: 768px) {
    /* NAVBAR */
    #open-btn{
        display: block;
    }

    .menu-hamburger{
        display: block;
        width: 40%;
    }

    .menu-nav a,
    .media-nav a{
        display: none;
    }
    /* END NAVBAR */

    /* Hero Section */
    .hero-text > h2{
        width: 80%;
        font-size: 1.4rem;
    }

    .wave{
        background-image: none;
    }
    /* END Hero Section */

    /* Testimonials */
    .testimonials{
        background-position-x: -750px;
    }

    #container-testimonials{
        width: 90%;
    }
    /* END Testimonials */

    /* Footer */
    #newsletter{
        margin-top: 60px;
    }
    /* END Footer */
}
/* END TABLET */

/* HandPhone */
@media screen and (max-width: 767px) {
    /* NAVBAR */
    #open-btn{
        display: block;
        font-size: 1.5rem;
        margin-right: 10px;
    }

    #close-btn{
        font-size: 1.5rem;
    }

    .menu-hamburger{
        display: block;
        width: 100%;
    }

    .logo {
        width: 140px;
        margin-left: 5px;
    }

    .menu-nav a,
    .media-nav a{
        display: none;
    }
    /* END NAVBAR */

    /* Hero Section */
    .hero-text h2{
        width: 80%;
        font-size: 1.1rem;
    }

    .breadcrumb a{
        font-size: 0.8rem;
    }

    .wave{
        background-image: none;
    }
    /* END Hero Section */

    /* Tentang Kami */
    .image-about{
        width: 110%;
    }

    .about-text{
        padding: 0;
    }

    .about-text > h2{
        width: 100%;
        text-align: center;
    }
    /* END Tentang Kami */

    /* Testimonials */
    .testimonials{
        background-position-x: -750px;
        padding-top: 70px;
    }

    #container-testimonials{
        width: 100%;
    }

    #swiper-slides{
        padding: 20px;
    }

    #swiper-slides > p{
        font-size: 0.8rem;
    }

    .text-box > h4{
        font-size: 1.1rem;
    }
    /* END Testimonials */

    /* Media Partner */
     .header-media-partners > h2{
        font-size: 1.4rem;
    }
    /* END Media Partner */
}
/* END HandPhone */